<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.liga.batisMapper.OrderItemMapper">
    <resultMap id="orderItem" type="ru.liga.dto.response.OrderItemResponse">
        <id property="id" column="order_item_id"/>
    </resultMap>

    <select
            id="findOrderItemById"
            parameterType="java.lang.Long"
            resultMap="orderItem">  <!--выбираем resultMap, чтоб опреелить как мапить поля результата на сущность MyBatis-->
        select * from order_items
        where order_item_id = #{id}
    </select>

    <select
            id="findAllOrderItems"
            resultMap="orderItem">  <!--выбираем resultMap, чтоб опреелить как мапить поля результата на сущность MyBatis-->
        select * from order_items
    </select>

    <insert
            id="addOrderItem">
        insert into order_items
        set order_id=#{createOrderItemRequest.orderId},
        restaurant_menu_item_id =#{createOrderItemRequest.restaurantMenuItemId},
        price =#{createOrderItemRequest.price},
        quantity =#{createOrderItemRequest.quantity}
    </insert>

</mapper>
