<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.liga.mapper.restaurantMenuItem.RestaurantMenuItemMapper">
    <resultMap id="restaurantByStatus" type="ru.liga.dto.response.RestaurantByStatusResponse">
        <id property="id" column="restaurant_id"/>
        <result property="status" column="status"/>
    </resultMap>

    <resultMap id="restaurant" type="ru.liga.dto.response.RestaurantResponse">
        <id property="id" column="restaurant_id"/>
        <result property="status" column="status"/>
    </resultMap>

    <update id="updatePrice">
        update restaurant_menu_items
        <set>
            <if test="price != null">
                price = #{price},
            </if>
        </set>
        where restaurant_menu_item_id = #{id}
    </update>

    <insert
            id="addRestaurantMenuItem">
        insert into restaurant_menu_items
        set restaurant_Id =#{request.restaurantId},
        name =#{request.name},
        price =#{request.price},
        image =#{request.image},
        description =#{request.description}
    </insert>

    <delete id="deleteRestaurantMenuItemById" parameterType="java.lang.Long">
        delete from restaurant_menu_items
        where restaurant_menu_item_id = #{id}}
    </delete>

</mapper>