<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.liga.batisMapper.order.OrderMapper">
    <resultMap id="order" type="ru.liga.dto.response.OrderResponse">
        <id property="id" column="order_id"/>
        <result property="status" column="status"/>
    </resultMap>
    <resultMap id="createOrder" type="ru.liga.dto.response.CreateOrderResponse">
        <id property="id" column="order_id"/>
        <result property="status" column="status"/>
    </resultMap>
    <select
            id="findOrderById"
            parameterType="java.lang.Long"
            resultMap="order">  <!--выбираем resultMap, чтоб опреелить как мапить поля результата на сущность MyBatis-->
        select * from orders
        where order_id = #{id}
    </select>

    <select
            id="findAllOrders"
            resultMap="order">  <!--выбираем resultMap, чтоб опреелить как мапить поля результата на сущность MyBatis-->
        select * from orders
    </select>

    <insert
            id="addOrder">
        insert into orders
        set customer_id=#{customerId},
        status ='CUSTOMER_CREATED',
        restaurant_Id =#{requestCreateOrder.restaurantId}
    </insert>

</mapper>